.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.header {
    display: grid;
    grid-area: 1/1/2/7; 
    align-content: center;
    margin: 5em;
}

.header__logo { 
    grid-area: 1/1/2/2; 
    margin-left: 6em;
    width: 50%;
}

.header__button-cart {
    grid-area: 1/6/2/7;
    width: 40%;
}

.main {
    display: grid;
    grid-area: 2/1/5/6;
}

.main__text-virtual {
    grid-area: 2/1/3/2;
    margin-left: 2em;
    margin-top: 5em;
    font-size: 90px;
    align-content: center;
}

.main__text {
    grid-area: 3/1/4/2;
    margin-left: 3em;
    font-size: 70px;
    align-content: center;
}

.main__button-buy {
    grid-area: 4/1/5/2;
    margin-left: 10em;
    width: 25%;
}

.main__picture {
    grid-area: 2/5/5/7;
    width: 80em;
}

.footer {
    display: grid;
    grid-area: 5/1/6/4;
    justify-content: space-around;
    font-size: 50px;
}

.footer__possibilities {
    grid-area: 5/1/6/2;
    color: rgb(82, 115, 185);
}

.footer__buy {
    grid-area: 5/2/6/3;
    color: rgb(82, 115, 185);

}

.footer__delivery {
    grid-area: 5/3/6/4;
    color: rgb(82, 115, 185);

}

.footer__help {
    grid-area: 5/4/6/5;
    color: rgb(82, 115, 185);
}

.menu {
    font-size: 40px;
    margin-left: 4em;
}












